[submodule "Bot"]
	path = Bot
	url = https://github.com/SWP2025-Team-7/Bot.git
	branch = main
[submodule "Backend"]
	path = Backend
	url = https://github.com/SWP2025-Team-7/Backend.git
	branch = main
